.Rproj.user
.Rhistory
.RData
*.d
src/Makevars
README.R
README.html
TODO.md
README_cache/
docs/
script*.R
*.pl
.vimrc
vignettes/
testing/
/revdep/.cache.rds
/revdep/library
/revdep/checks/
.DS_Store
tnsnames.ora
