on: [push, pull_request]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ubuntu-16.04

    services:
      postgres:
        image: postgres
        ports:
        - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test_db
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
        ports:
        - 1433:1433
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: Password12
      mariadb:
        image: mariadb
        ports:
          - 3307:3307
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_PASSWORD: password
          MYSQL_DATABASE: test_db
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 5

    name: ${{ matrix.r }}

    strategy:
      fail-fast: false
      matrix:
        r: ['3.6']

    env:
      CRAN: "https://demo.rstudiopm.com/all/__linux__/xenial/latest"
      ODBCSYSINI: ${{ github.workspace }}/travis/odbc

    steps:
      - uses: actions/checkout@v1

      - uses: r-lib/actions/setup-r@master
        with:
          r-version: ${{ matrix.r}}

      - name: Cache R packages
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ matrix.r }}-${{ hashFiles('DESCRIPTION') }}

      - name: Install R system dependencies
        if: runner.os == 'Linux'
        env:
          RHUB_PLATFORM: linux-x86_64-ubuntu-gcc
        run: |
          Rscript -e "install.packages('remotes')" -e "remotes::install_github('r-hub/sysreqs')"
          sysreqs=$(Rscript -e "cat(sysreqs::sysreq_commands('DESCRIPTION'))")
          sudo -s eval "$sysreqs"

      - name: Install PostgreSQL Driver
        run: |
          sudo apt-get install -y unixodbc-dev odbc-postgresql devscripts

      - name: Install SQL Server Driver
        run: |
          curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/18.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
          apt-get update
          ACCEPT_EULA=Y apt-get install -y msodbcsql17
        shell: sudo bash {0}

      - name: Install MariaDB Driver
        env:
          MARIADB_DRIVER_VERSION: 3.1.5
        run: |
          curl -LO https://downloads.mariadb.com/Connectors/odbc/connector-odbc-${MARIADB_DRIVER_VERSION}/mariadb-connector-odbc-${MARIADB_DRIVER_VERSION}-ga-debian-x86_64.tar.gz
          tar -xvzf mariadb-connector-odbc-${MARIADB_DRIVER_VERSION}-ga-debian-x86_64.tar.gz
          sudo install lib/libmaodbc.so /usr/lib/

      - name: Install dependencies
        run: Rscript -e "install.packages('remotes')" -e "remotes::install_deps(dependencies = TRUE)" -e "remotes::install_cran('rcmdcheck')"

      - name: Test
        run: |
          install.packages(".", repos = NULL)
          odbc::odbcListDrivers()
          odbc::odbcListDataSources()
          library(DBI)
          con <- dbConnect(odbc::odbc(), "MicrosoftSQLServer", UID = "SA", PWD = "Password12")
          con
          con <- dbConnect(odbc::odbc(), "PostgreSQL")
          con
          con <- dbConnect(odbc::odbc(), "MySQL")
          con
        shell: Rscript {0}
      #- name: Check
        #run: Rscript -e "rcmdcheck::rcmdcheck(args = '--no-manual', error_on = 'warning', check_dir = 'check')"

      #- name: Upload check results
        #if: failure()
        #uses: actions/upload-artifact@master
        #with:
          #name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          #path: check

      #- name: Test coverage
        #if: matrix.r == '3.6'
        #run: |
          #Rscript -e 'remotes::install_github("r-lib/covr@gh-actions")'
          #Rscript -e 'covr::codecov(token = "${{secrets.CODECOV_TOKEN}}")'
